%h1 Movie.com とは
%p
  総合映画情報サイト「映画.com（エイガ・ドット・コム）」は、1998年8月以来、世界中の映画情報をインターネットでお届けしています。話題の新作に関する映画ニュースを毎日配信するほか、4万5000件以上の作品データベース、約26万件の人物情報、全国の映画館の上映スケジュール、興行ランキングや評論家のコラムなど、映画に関する話題を網羅しています。
  %br
  iPhoneやAndroidのアプリ、スマートフォン、フィーチャーホンなどさまざまな端末からも映画.comの情報を利用できます。また、TwitterやFacebook、Google+などのソーシャルメディアでも情報を発信中。是非、「映画.com」をご愛用ください。
