.main.home-top
  %section.jumbotron
    .container
      %h2.jumbotron-title 最高の一本を見つけよう
      %p.jumbotron-text
        ここにかっこいい感じの文章をいれたい。
        %br
        これくらいの長さでいい感じの文章がほしい。
      .jumbotron-btn
        映画を探す
