/* movies#index ================================ */
.movies-index {
  h2 {
    text-align: center;
  }

  .movies-search-form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;

    .search-input {
      width: 80%;
      padding: 13px;
      background-color: #fff;
      border: 1px solid #e7e7e7;
      border-radius: 4px;
      font-size: 15px;
    }

    .search-btn {
      background-image: none;
      background-color: #333;
      border-radius: 4px;
      padding: 14px;
      width: 10%;
      font-size: 15px;
    }
  }

  .fa-chevron-circle-right {
    color: #333;
    margin-left: 1%;
    margin-bottom: 10px;
  }

  .movie-card-wrapper {
    position: relative;
    letter-spacing: -.4em;

    .movie-card {
      letter-spacing: normal;
      display: inline-block;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      border-radius: 4px;
      width: 31.3%;
      margin: 10px 1%;
      vertical-align: top;
      overflow: hidden;

      .movie-card__image {
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }

      .movie-card__text {
        padding: 15px 20px;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
          color: #555;
          font-weight: bold;
          line-height: 22px;
        }

        .fa {
          color: #ffaa00;
        }

        span {
          color: #464646;
          font-weight: bold;
          padding-left: 3px;
        }

        p {
          color: #777;
          float: right;
        }
      }
    }
  }
}

/* movies#show ================================ */
.movie-title {
  margin-bottom: 10px;
}

.movie-review {
  font-size: 22px;
  margin-bottom: 20px;

  .fa {
    color: #ffaa00;
    margin-left: 5px;
  }

  .movie-point {
    display: inline-block;
    color: #464646;
  }
}

.movie-menu {
  margin-bottom: 30px;

  .movie-menu-item {
    display: inline-block;
    width: 49%;
    background-color: #eaeaea;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    &.active {
      background-color: #d2d2d2;
    }
  }
}

.movie-detail {
  .movie-detail__text {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin-bottom: 50px;
    padding-left: 40px;

    p {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .movie-categories {
      a {
        display: inline-block;
        font-size: 13px;
        padding: 5px 10px;
        background: #eaeaea;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-right: 10px;
        color: #2d3133;

        &:hover {
          background-color: rgba(234, 234, 234, 0.49);
        }
      }
    }
  }

  .movie-detail__image {
    display: inline-block;
    width: 34%;
    vertical-align: top;
    margin-bottom: 50px;
    padding-left: 3px;

    img {
      max-width: 100%;
    }
  }

}

/* movies#reviews ================================ */
.review-item-wrapper {
  padding-bottom: 30px;
}

.review-item {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 30px;
  font-size: 18px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    margin-right: 5px;
    object-fit: cover;
    // border: 1px solid #d0d8de;
    vertical-align: bottom;
  }

  .review-item__user-name {
    display: inline-block;
    color: #464646;
    font-size: 18px;
  }

  .review-item__point {
    display: inline-block;
    margin-left: 10px;
    color: #464646;

    .fa {
      color: #ffaa00;
    }
  }

  .review-item__content {
    font-size: 16px;
    margin-top: 10px;
  }

  .review-item__edit {
    float: right;

    a {
      margin-left: 10px;
    }
  }
}

.no-review-message {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
}
