/* movies#index ================================ */
.movies-index {
  .movie-card-wrapper {
    position: relative;
    letter-spacing: -.4em;

    .movie-card {
      letter-spacing: normal;
      display: inline-block;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      border-radius: 4px;
      width: 31.3%;
      margin: 10px 1%;
      vertical-align: top;
      overflow: hidden;

      .movie-card__image {
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }

      .movie-card__text {
        padding: 15px 20px;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
          color: #555;
          font-weight: bold;
          line-height: 22px;
        }

        .fa {
          color: #ffaa00;
        }

        span {
          color: #464646;
          font-weight: bold;
          padding-left: 3px;
        }

        p {
          color: #777;
          float: right;
        }
      }
    }
  }
}

/* movies#reviews ================================ */
.movies-review {
  .review-overview {
    padding: 20px 10px;

    .review-overview__left {
      font-size: 18px;

      .fa {
        color: #ffaa00;
        margin-left: 5px;
      }

      span {
        color: #464646;
      }
    }

    .review-overview__right {
      text-align: right;
    }
  }

  h2 {
    border-bottom: 1px dotted #a2a2a2;
    padding: 15px 0 10px;
  }

  .review-item {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px 30px;
    font-size: 18px;

    .review-item__user-name {
      display: inline-block;
      color: #464646;
    }

    .review-item__point {
      display: inline-block;
      margin-left: 10px;
      color: #464646;

      .fa {
        color: #ffaa00;
      }
    }

    .review-item__content {
      font-size: 16px;
      margin-top: 10px;
    }

    .review-item__edit {
      float: right;

      a {
        margin-left: 10px;
      }
    }
  }

  .no-review-message {
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 16px;
  }
}
