/* reviews#new, reviews#edit ================================ */
.reviews-new, .reviews-edit {
  .container {
    max-width: 700px;
  }

  h1 {
    margin-bottom: 35px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .form {
    background-color: #fff;
    padding: 30px 30px 55px;
    box-shadow: 0 2px 6px #c1ced7;

    .form-error {
      font-size: 17px;
      color: #ff4d75;
      margin-bottom: 15px;
    }
  }

  input, textarea {
    background-color: #fff;
    border: 1px solid #d8dadf;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
  }

  input[type=submit] {
    display: block;
    background-image: none;
    background-color: #333;
    width: 15%;
    padding: 12px;
    font-weight: 300;
    border-radius: 3px;
    float: right;
  }
}
