/* users#show ================================ */
.users-show {
  text-align: center;

  .user {
    margin-bottom: 20px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: 0 2px 6px #c1ced7;
      margin-bottom: 20px;
      object-fit: cover;
      border: 1px solid #d0d8de;
    }

    h2 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin-bottom: 15px;
    }

    a {
      color: #8899a6;
      text-decoration: underline;
      font-weight: 200;
    }
  }
}
